In [1]:
%matplotlib notebook
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib as plt
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('training.csv', sep=';', decimal=',')
df = df.rename(columns = {'classLabel': 'Target Class'})
df.loc[df['Target Class'] == 'no.', 'Target Class'] = 0
df.loc[df['Target Class'] == 'yes.', 'Target Class'] = 1
df[['variable2', 'variable3', 'variable8', 'variable14', 'variable15','variable17','variable19']].astype('float64').dtypes
df.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable18,variable19,Target Class
0,a,17.92,0.000054,u,g,c,v,1.750,f,t,1,t,g,80.0,5,800000.0,t,0,0
1,b,16.92,0.000034,y,p,k,v,0.290,f,f,0,f,s,200.0,0,2000000.0,NaN,0,0
2,b,31.25,0.000112,u,g,ff,ff,0.000,f,t,1,f,g,96.0,19,960000.0,t,0,0
3,a,48.17,0.000133,u,g,i,o,0.335,f,f,0,f,g,0.0,120,0.0,NaN,0,0
4,b,32.33,0.000350,u,g,k,v,0.500,f,f,0,t,g,232.0,0,2320000.0,f,0,0

In [3]:
validation = pd.read_csv('validation.csv', sep=';', decimal=',')
validation = validation.rename(columns = {'classLabel': 'Target Class'})
validation.loc[validation['Target Class'] == 'no.', 'Target Class'] = 0
validation.loc[validation['Target Class'] == 'yes.', 'Target Class'] = 1
validation[['variable2', 'variable3', 'variable8', 'variable14', 'variable15','variable17','variable19']].astype('float64').dtypes
validation.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable18,variable19,Target Class
0,b,32.33,0.000750,u,g,e,bb,1.585,t,f,0,t,s,420.0,0,4200000.0,NaN,1,0
1,b,23.58,0.000179,u,g,c,v,0.540,f,f,0,t,g,136.0,1,1360000.0,NaN,0,0
2,b,36.42,0.000075,y,p,d,v,0.585,f,f,0,f,g,240.0,3,2400000.0,NaN,1,0
3,b,18.42,0.001041,y,p,aa,v,0.125,t,f,0,f,g,120.0,375,1200000.0,NaN,0,0
4,b,24.50,0.001334,y,p,aa,v,0.040,f,f,0,t,g,120.0,475,1200000.0,f,1,0

In [4]:
df.shape

(3700, 19)

In [5]:
df.isnull().sum()

variable1         39
variable2         39
variable3          0
variable4         64
variable5         64
variable6         66
variable7         66
variable8          0
variable9          0
variable10         0
variable11         0
variable12         0
variable13         0
variable14       100
variable15         0
variable17       100
variable18      2145
variable19         0
Target Class       0
dtype: int64

In [6]:
#Dropping Variable18 because it has too many missing values 
print("Dropping column variable18 because it has too many missing values with a percentage of %.2f%%" %((df['variable18'].isnull().sum()/df.shape[0])*100))
df = df.drop('variable18' , axis = 1)
df.head()

Dropping column variable18 because it has too many missing values with a percentage of 57.97%

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable19,Target Class
0,a,17.92,0.000054,u,g,c,v,1.750,f,t,1,t,g,80.0,5,800000.0,0,0
1,b,16.92,0.000034,y,p,k,v,0.290,f,f,0,f,s,200.0,0,2000000.0,0,0
2,b,31.25,0.000112,u,g,ff,ff,0.000,f,t,1,f,g,96.0,19,960000.0,0,0
3,a,48.17,0.000133,u,g,i,o,0.335,f,f,0,f,g,0.0,120,0.0,0,0
4,b,32.33,0.000350,u,g,k,v,0.500,f,f,0,t,g,232.0,0,2320000.0,0,0

In [7]:
validation = validation.drop('variable18' , axis = 1)
validation.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable19,Target Class
0,b,32.33,0.000750,u,g,e,bb,1.585,t,f,0,t,s,420.0,0,4200000.0,1,0
1,b,23.58,0.000179,u,g,c,v,0.540,f,f,0,t,g,136.0,1,1360000.0,0,0
2,b,36.42,0.000075,y,p,d,v,0.585,f,f,0,f,g,240.0,3,2400000.0,1,0
3,b,18.42,0.001041,y,p,aa,v,0.125,t,f,0,f,g,120.0,375,1200000.0,0,0
4,b,24.50,0.001334,y,p,aa,v,0.040,f,f,0,t,g,120.0,475,1200000.0,1,0

In [8]:
print("Now we have two options either dropping the missing nan values rows especially the are really small because they are exactly %d rows" % (df.shape[0] - df.dropna().shape[0]), "or since that these rows are not that much we can try to replace the values of each nan with the most frequent value of each column and since the numbers of the rows is small it will not cause a high chance of inmbalance in our data, as for the colums with numbers we can fill them with the mean")

Now we have two options either dropping the missing nan values rows especially the are really small because they are exactly 178 rows or since that these rows are not that much we can try to replace the values of each nan with the most frequent value of each column and since the numbers of the rows is small it will not cause a high chance of inmbalance in our data, as for the colums with numbers we can fill them with the mean

In [9]:
variable1 = df['variable1'].value_counts().idxmax()
variable4 = df['variable4'].value_counts().idxmax()
variable5 = df['variable5'].value_counts().idxmax()
variable6 = df['variable6'].value_counts().idxmax()
variable7 = df['variable7'].value_counts().idxmax()

df['variable1'].fillna(variable1, inplace=True)
df['variable4'].fillna(variable4, inplace=True)
df['variable5'].fillna(variable5, inplace=True)
df['variable6'].fillna(variable6, inplace=True)
df['variable7'].fillna(variable7, inplace=True)

df['variable2'].fillna(df['variable2'].mean(), inplace=True)
df['variable14'].fillna(df['variable14'].mean(), inplace=True)
df['variable17'].fillna(df['variable17'].mean(), inplace=True)

df

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable19,Target Class
0,a,17.920000,0.000054,u,g,c,v,1.750,f,t,1,t,g,80.000,5,800000.0,0,0
1,b,16.920000,0.000034,y,p,k,v,0.290,f,f,0,f,s,200.000,0,2000000.0,0,0
2,b,31.250000,0.000112,u,g,ff,ff,0.000,f,t,1,f,g,96.000,19,960000.0,0,0
3,a,48.170000,0.000133,u,g,i,o,0.335,f,f,0,f,g,0.000,120,0.0,0,0
4,b,32.330000,0.000350,u,g,k,v,0.500,f,f,0,t,g,232.000,0,2320000.0,0,0
5,a,34.830000,0.000125,y,p,i,h,0.500,f,f,0,t,g,160.000,0,1600000.0,0,0
6,a,26.170000,0.000200,u,g,j,j,0.000,f,f,0,t,g,276.000,1,2760000.0,0,0
7,b,21.170000,0.000087,y,p,c,h,0.250,f,f,0,f,g,280.000,204,2800000.0,0,0
8,b,28.920000,0.000037,u,g,c,v,0.290,f,f,0,f,g,220.000,140,2200000.0,0,0
9,b,18.170000,0.001025,u,g,c,h,1.085,f,f,0,f,g,320.000,13,3200000.0,0,0
10,a,24.750000,0.001366,u,g,q,h,1.500,f,f,0,f,g,280.000,1,2800000.0,0,0
11,a,31.750000,0.000300,y,p,j,j,0.000,f,f,0,f,g,160.000,20,1600000.0,0,0
12,a,18.170000,0.001000,y,p,q,h,0.165,f,f,0,f,g,340.000,0,3400000.0,0,0
13,a,18.250000,0.001000,u,g,W,v,1.000,f,t,1,f,g,120.000,1,1200000.0,0,0
14,b,17.580000,0.001000,u,g,W,h,0.165,f,t,1,f,g,120.000,1,1200000.0,0,0
15,b,51.830000,0.000204,y,p,ff,ff,1.500,f,f,0,f,g,120.000,1,1200000.0,0,0
16,b,26.670000,0.001459,u,g,i,bb,0.000,f,f,0,t,g,178.000,0,1780000.0,0,0
17,b,31.420000,0.001550,u,g,c,v,0.500,t,f,0,f,g,120.000,0,1200000.0,0,0
18,b,25.670000,0.000325,u,g,c,h,2.290,f,t,1,t,g,416.000,21,4160000.0,0,0
19,b,33.750000,0.000275,u,g,i,bb,0.000,f,f,0,f,g,180.000,0,1800000.0,0,0
20,b,32.750000,0.000233,u,g,d,h,5.750,f,f,0,t,g,292.000,0,2920000.0,0,0
21,b,39.830000,0.000050,u,g,m,v,0.250,t,f,0,f,s,288.000,0,2880000.0,0,0
22,a,40.330000,0.000812,y,p,k,v,0.165,f,t,2,f,g,162.695,18,1626950.0,0,0
23,b,35.250000,0.001650,y,p,c,v,4.000,t,f,0,f,g,80.000,0,800000.0,0,0
24,a,24.330000,0.000250,y,p,i,bb,4.500,f,f,0,f,g,200.000,456,2000000.0,0,0
25,a,15.750000,0.000037,u,g,c,v,1.000,f,f,0,f,g,120.000,18,1200000.0,0,0
26,a,45.000000,0.000458,u,g,k,h,1.000,f,f,0,t,s,240.000,0,2400000.0,0,0
27,a,30.420000,0.000138,u,g,W,h,0.040,f,t,3,f,g,0.000,33,0.0,0,0
28,a,32.820713,0.000350,u,g,d,v,3.000,t,f,0,t,g,300.000,0,3000000.0,0,0
29,b,17.250000,0.000300,u,g,k,v,0.040,f,f,0,t,g,160.000,40,1600000.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3670,a,24.500000,0.000050,u,g,q,h,1.500,t,f,0,f,g,280.000,824,2800000.0,1,1
3671,b,20.250000,0.000996,u,g,e,dd,0.000,t,f,0,f,g,0.000,0,0.0,1,1
3672,b,18.500000,0.000200,u,g,i,v,1.500,t,t,2,f,g,120.000,300,1200000.0,1,1
3673,b,25.170000,0.000350,u,g,cc,v,0.625,t,t,7,f,g,0.000,7059,0.0,1,1
3674,b,44.330000,0.000050,u,g,i,h,5.000,t,f,0,t,g,320.000,0,3200000.0,1,1
3675,b,18.080000,0.000550,u,g,k,v,0.500,t,f,0,f,g,80.000,0,800000.0,1,1
3676,a,60.580000,0.001650,u,g,q,v,11.000,t,f,0,t,g,21.000,10561,210000.0,1,1
3677,b,41.500000,0.000154,u,g,i,bb,3.500,f,f,0,f,g,216.000,0,2160000.0,1,1
3678,a,25.750000,0.000050,u,g,c,h,0.875,t,f,0,t,g,491.000,0,4910000.0,1,1
3679,b,29.250000,0.001479,u,g,aa,v,5.040,t,t,5,t,g,168.000,0,1680000.0,1,1
3680,a,36.000000,0.000100,u,g,c,v,2.000,t,t,11,f,g,0.000,456,0.0,1,1
3681,b,31.670000,0.001616,u,g,d,v,3.000,t,t,9,f,g,250.000,730,2500000.0,1,1
3682,b,60.080000,0.001450,u,g,ff,ff,18.000,t,t,15,t,g,0.000,1000,0.0,1,1
3683,b,22.330000,0.001100,u,g,W,v,2.000,t,t,1,f,g,80.000,278,800000.0,1,1
3684,b,40.000000,0.000650,u,g,aa,bb,3.500,t,t,1,f,g,0.000,500,0.0,1,1
3685,b,35.170000,0.002512,u,g,x,h,1.625,t,t,1,t,g,515.000,500,5150000.0,1,1
3686,b,41.330000,0.000000,u,g,c,bb,15.000,t,f,0,f,g,0.000,0,0.0,1,1
3687,a,20.750000,0.001034,u,g,cc,h,0.335,t,t,1,t,g,80.000,50,800000.0,1,1
3688,b,32.080000,0.000400,u,g,m,v,2.500,t,f,0,t,g,360.000,0,3600000.0,1,1
3689,b,32.820713,0.000400,u,g,x,v,5.000,t,t,3,t,g,290.000,2279,2900000.0,1,1
3690,b,23.920000,0.000150,u,g,d,h,1.875,t,t,6,f,g,200.000,327,2000000.0,1,1
3691,a,23.250000,0.000588,u,g,q,v,3.170,t,t,10,f,g,120.000,245,1200000.0,1,1
3692,a,46.670000,0.000046,u,g,cc,h,0.415,t,t,11,t,g,440.000,6,4400000.0,1,1
3693,a,25.000000,0.001233,u,g,cc,h,3.500,t,t,6,f,g,400.000,458,4000000.0,1,1
3694,b,25.500000,0.000037,u,g,m,v,0.250,t,t,3,f,g,260.000,15108,2600000.0,1,1
3695,a,18.750000,0.000750,u,g,q,v,2.710,t,t,5,f,g,162.695,26726,1626950.0,1,1
3696,a,23.500000,0.000900,u,g,q,v,8.500,t,t,5,t,g,120.000,0,1200000.0,1,1
3697,b,34.170000,0.000917,u,g,c,v,4.500,t,t,12,t,g,0.000,221,0.0,1,1
3698,b,27.830000,0.000154,u,g,W,v,3.750,t,t,5,t,g,100.000,3,1000000.0,1,1
3699,a,36.750000,0.000513,u,g,e,v,5.000,t,f,0,t,g,0.000,4000,0.0,1,1

In [10]:
variable1 = validation['variable1'].value_counts().idxmax()
variable4 = validation['variable4'].value_counts().idxmax()
variable5 = validation['variable5'].value_counts().idxmax()
variable6 = validation['variable6'].value_counts().idxmax()
variable7 = validation['variable7'].value_counts().idxmax()

validation['variable1'].fillna(variable1, inplace=True)
validation['variable4'].fillna(variable4, inplace=True)
validation['variable5'].fillna(variable5, inplace=True)
validation['variable6'].fillna(variable6, inplace=True)
validation['variable7'].fillna(variable7, inplace=True)

validation['variable2'].fillna(df['variable2'].mean(), inplace=True)
validation['variable14'].fillna(df['variable14'].mean(), inplace=True)
validation['variable17'].fillna(df['variable17'].mean(), inplace=True)

validation.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable19,Target Class
0,b,32.33,0.000750,u,g,e,bb,1.585,t,f,0,t,s,420.0,0,4200000.0,1,0
1,b,23.58,0.000179,u,g,c,v,0.540,f,f,0,t,g,136.0,1,1360000.0,0,0
2,b,36.42,0.000075,y,p,d,v,0.585,f,f,0,f,g,240.0,3,2400000.0,1,0
3,b,18.42,0.001041,y,p,aa,v,0.125,t,f,0,f,g,120.0,375,1200000.0,0,0
4,b,24.50,0.001334,y,p,aa,v,0.040,f,f,0,t,g,120.0,475,1200000.0,1,0

In [11]:
df.isnull().sum()

variable1       0
variable2       0
variable3       0
variable4       0
variable5       0
variable6       0
variable7       0
variable8       0
variable9       0
variable10      0
variable11      0
variable12      0
variable13      0
variable14      0
variable15      0
variable17      0
variable19      0
Target Class    0
dtype: int64

In [12]:
df.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable19,Target Class
0,a,17.92,0.000054,u,g,c,v,1.750,f,t,1,t,g,80.0,5,800000.0,0,0
1,b,16.92,0.000034,y,p,k,v,0.290,f,f,0,f,s,200.0,0,2000000.0,0,0
2,b,31.25,0.000112,u,g,ff,ff,0.000,f,t,1,f,g,96.0,19,960000.0,0,0
3,a,48.17,0.000133,u,g,i,o,0.335,f,f,0,f,g,0.0,120,0.0,0,0
4,b,32.33,0.000350,u,g,k,v,0.500,f,f,0,t,g,232.0,0,2320000.0,0,0

In [13]:
# Normalizing the data 
from sklearn import preprocessing 

columns_values = df[['variable2', 'variable3', 'variable8', 'variable14', 'variable15','variable17','variable19']].values 

min_max_scaler = preprocessing.MinMaxScaler()
columns_values_scaled = min_max_scaler.fit_transform(columns_values)
df[['variable2', 'variable3', 'variable8', 'variable14', 'variable15','variable17','variable19']] =   pd.DataFrame(columns_values_scaled, columns=['variable2', 'variable3', 'variable8', 'variable14', 'variable15','variable17','variable19'])

df.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable19,Target Class
0,a,0.062707,0.019286,u,g,c,v,0.061404,f,t,1,t,g,0.068966,0.00005,0.068966,0.0,0
1,b,0.047669,0.011964,y,p,k,v,0.010175,f,f,0,f,s,0.172414,0.00000,0.172414,0.0,0
2,b,0.263158,0.040179,u,g,ff,ff,0.000000,f,t,1,f,g,0.082759,0.00019,0.082759,0.0,0
3,a,0.517594,0.047679,u,g,i,o,0.011754,f,f,0,f,g,0.000000,0.00120,0.000000,0.0,0
4,b,0.279398,0.125000,u,g,k,v,0.017544,f,f,0,t,g,0.200000,0.00000,0.200000,0.0,0

In [14]:
columns_values = validation[['variable2', 'variable3', 'variable8', 'variable14', 'variable15','variable17','variable19']].values 

min_max_scaler = preprocessing.MinMaxScaler()
columns_values_scaled = min_max_scaler.fit_transform(columns_values)
validation[['variable2', 'variable3', 'variable8', 'variable14', 'variable15','variable17','variable19']] =   pd.DataFrame(columns_values_scaled, columns=['variable2', 'variable3', 'variable8', 'variable14', 'variable15','variable17','variable19'])

validation.head()

,variable1,variable2,variable3,variable4,variable5,variable6,variable7,variable8,variable9,variable10,variable11,variable12,variable13,variable14,variable15,variable17,variable19,Target Class
0,b,0.269768,0.298983,u,g,e,bb,0.07925,t,f,0,t,s,0.210,0.0000,0.210,1.0,0
1,b,0.125925,0.071357,u,g,c,v,0.02700,f,f,0,t,g,0.068,0.0001,0.068,0.0,0
2,b,0.337005,0.029898,y,p,d,v,0.02925,f,f,0,f,g,0.120,0.0003,0.120,1.0,0
3,b,0.041098,0.415188,y,p,aa,v,0.00625,t,f,0,f,g,0.060,0.0375,0.060,0.0,0
4,b,0.141049,0.531593,y,p,aa,v,0.00200,f,f,0,t,g,0.060,0.0475,0.060,1.0,0

In [15]:
#Encoding the string values columns using hot bit encoding 
df = pd.get_dummies(df)
df.head()

,variable2,variable3,variable8,variable11,variable14,variable15,variable17,variable19,Target Class,variable1_a,...,variable7_z,variable9_f,variable9_t,variable10_f,variable10_t,variable12_f,variable12_t,variable13_g,variable13_p,variable13_s
0,0.062707,0.019286,0.061404,1,0.068966,0.00005,0.068966,0.0,0,1,...,0,1,0,0,1,0,1,1,0,0
1,0.047669,0.011964,0.010175,0,0.172414,0.00000,0.172414,0.0,0,0,...,0,1,0,1,0,1,0,0,0,1
2,0.263158,0.040179,0.000000,1,0.082759,0.00019,0.082759,0.0,0,0,...,0,1,0,0,1,1,0,1,0,0
3,0.517594,0.047679,0.011754,0,0.000000,0.00120,0.000000,0.0,0,1,...,0,1,0,1,0,1,0,1,0,0
4,0.279398,0.125000,0.017544,0,0.200000,0.00000,0.200000,0.0,0,0,...,0,1,0,1,0,0,1,1,0,0

In [16]:
validation = pd.get_dummies(validation)
validation.head()

,variable2,variable3,variable8,variable11,variable14,variable15,variable17,variable19,Target Class,variable1_a,...,variable7_z,variable9_f,variable9_t,variable10_f,variable10_t,variable12_f,variable12_t,variable13_g,variable13_p,variable13_s
0,0.269768,0.298983,0.07925,0,0.210,0.0000,0.210,1.0,0,0,...,0,0,1,1,0,0,1,0,0,1
1,0.125925,0.071357,0.02700,0,0.068,0.0001,0.068,0.0,0,0,...,0,1,0,1,0,0,1,1,0,0
2,0.337005,0.029898,0.02925,0,0.120,0.0003,0.120,1.0,0,0,...,0,1,0,1,0,1,0,1,0,0
3,0.041098,0.415188,0.00625,0,0.060,0.0375,0.060,0.0,0,0,...,0,0,1,1,0,1,0,1,0,0
4,0.141049,0.531593,0.00200,0,0.060,0.0475,0.060,1.0,0,0,...,0,1,0,1,0,0,1,1,0,0

In [17]:
from sklearn.model_selection import train_test_split

target_data = df['Target Class']
# target_data
data = df.drop('Target Class',axis=1)





X_train, X_test, y_train, y_test = train_test_split(data, 
                                                    target_data,  
                                                    random_state = 0)
                                                
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 2775 samples.
Testing set has 925 samples.

In [21]:
from sklearn.svm import LinearSVC

clf1 = LinearSVC().fit(X_train, y_train)
print('Accuracy of Linear SVC classifier on training set: {:.2f}'
     .format(clf1.score(X_train, y_train)))
print('Accuracy of Linear SVC classifier on test set: {:.2f}'
     .format(clf1.score(X_test, y_test)))

Accuracy of Linear SVC classifier on training set: 1.00
Accuracy of Linear SVC classifier on test set: 1.00

In [23]:
from sklearn.metrics import confusion_matrix

clf1_predictions = clf1.predict(X_test)

confusion = confusion_matrix(y_test, clf1_predictions)

print('Most frequent class \n', confusion)

Most frequent class
 [[ 70   0]
 [  0 855]]

In [24]:
from sklearn.metrics import classification_report

print(classification_report(y_test, clf1_predictions, target_names=['0', '1']))

precision    recall  f1-score   support

           0       1.00      1.00      1.00        70
           1       1.00      1.00      1.00       855

    accuracy                           1.00       925
   macro avg       1.00      1.00      1.00       925
weighted avg       1.00      1.00      1.00       925

In [22]:
from sklearn.linear_model import LogisticRegression


clf2 = LogisticRegression().fit(X_train, y_train)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'
     .format(clf2.score(X_train, y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'
     .format(clf2.score(X_test, y_test)))

Accuracy of Logistic regression classifier on training set: 1.00
Accuracy of Logistic regression classifier on test set: 1.00

In [20]:
from sklearn.model_selection import cross_val_score

validation_target_data = validation['Target Class']
# target_data
validation_data = validation.drop('Target Class',axis=1)

scores = cross_val_score(clf1, validation_data, validation_target_data, cv=5)
scores

array([0.85365854, 0.82926829, 0.9       , 0.76923077, 0.92307692])